<footer class="page-footer pet-blue">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Quem Ama Cuida</h5>
              <p class="grey-text text-lighten-4">Sistema de gerenciamento Cartão Mais Pet  </p>
            </div>
            <div class="col l4 offset-l2 s12">

            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © <%=  Time.now.strftime('%Y') %> Copyright Todos os direitos reservados
          <a class="grey-text text-lighten-4 right" href="#!">www.cartaomaispet.com.br</a>
          </div>
        </div>
      </footer>
