

 <nav class="pet-blue">
 	<div class="nav-wrapper">
    <div class="container">


		<a href="#!" class="brand-logo ">Cartão Mais Pet</a>
		<!-- activate side-bav in mobile view -->
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="#">Login</a></li>
			<li><a href="#">Cadastre-se</a></li>
			<!-- Dropdown Trigger -->

		</ul>
		<!-- navbar for mobile -->

  </div>
	</div>
</nav>
