<ul class="collection with-header">
  <li class="collection-item center-align">
     <img class="responsive circle align-center" src="https://picsum.photos/150?image=1062">
      <h4><%= saudacao() %></h4></li>
   <li>

     <a href="<%= edit_user_registration_path %>" class="blue-text collection-item"><i class="tiny material-icons left">account_box</i> Minha Conta</a>
     <a href="#" class="blue-text collection-item"><i class="tiny material-icons left">local_offer</i> Meus Descontos</a>
     <a href="#" class="blue-text collection-item"><i class="tiny material-icons left">edit</i> Meu Pet</a>
     <a href="#" class="blue-text collection-item"><i class="tiny material-icons left">edit</i> Cancelar</a>

</ul>
