<ul class="collection with-header">
  <li class="collection-header center-align">
     <img class="responsive circle align-center" src="https://picsum.photos/150?image=1062">
      <h5><%= saudacao() %></h5></li>
   <li>

     <a href="<%= edit_user_registration_path %>" class="blue-text collection-item"><i class="tiny material-icons left">account_box</i> Minha Conta</a>
     <a href="#" class="blue-text collection-item"><i class="tiny material-icons left">local_offer</i> Meus Descontos</a>
     <a href="#" class="blue-text collection-item"><i class="tiny material-icons left">favorite</i> Minha Lojas</a>
     <a href="#" class="blue-text collection-item"><i class="tiny material-icons left">pets</i> Meu Pet</a>

</ul>
