
 <form action="#" method="POST">
   <h4>Buscar</h4>
<p></p>
<div class="row">


      <div class="input-field col s8 m12">
        <input id="icon_prefix" type="text" class="validate" placeholder="Pesquisar serviço ou produtos" >
        <label for="icon_prefix">Busque por:</label>
      </div>
      <div class="input-field col s6 m4">
         <i class="material-icons prefix">date_range</i>
         <input type="text" class="datepicker" placeholder="Selecione uma data">
      </div>

       <div class="input-field col s6 m4">

           <select>
             <option value="" disabled selected>Selecione</option>
             <option value="1">Manhã</option>
             <option value="2">Tarde</option>

             </select>
             <label>Materialize Select</label>

       </div>



 </div>

   <button type="submit" class="btn blue lighten-2 "> <i class="material-icons left">search</i>Buscar</button>
 </form>
