<h1> Olá  <%= @user.name %></h1>

Bem-vindo ao Cartão Mais Pet, Meu nome é Marvio Rocha <br>
e você está recebendo um email de test de um desenvolvedor<br>
ninja apaixonado por programação. <p></p> Vamos colocar seu sistema online o mais breve possível<br>
Sei que as minhas possibilidade depende de todos nós!. <p></p> Mais
podemos fazer coisas super legais! Pesso a vocês muitas <br>
desculpas pelo tempo
<p></p>
Nos falomos em breve!
<p></p>
Abraço a todos...
<p></p>
Com Carinho ❤ <br>
Marvio Rocha
