<%= title(" #{current_user.name} #{current_user.last_name} Dashboard"  ) %>
<div class="section"></div>

<!-- left col  -->

  <div class="col s12 m3">


  <%= render('layouts/parts/usernav') %>


  </div> <!-- end left col -->

<!-- col right -->


  <div class="col s12 m9">
    <div class="card-panel white">
      <span class="darken-text">
     <%= render "pages/module/search" %>
      </span>
    </div>
  </div>
<div class="section"></div>

<div class="col s12 m9">
  <%= render "pages/module/liststore" %>
</div>


<!-- end col right  -->
