
<div class="section"></div>

<!-- left col  -->

  <div class="col s12 m3">


  <%= render('layouts/parts/usernav') %>


  </div> <!-- end left col -->

<!-- col right -->


  <div class="col s12 m9">
    <div class="card-panel white">
      <span class="darken-text">
      <h3>Lorem ipsom</h3>
        I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
      </span>
    </div>
  </div>
<div class="section"></div>

<!-- end col right  -->
