

<h4>Pesquisar</h4>
<p></p>
<div class="row">


  <%= form_tag petshops_path, method: "get" do %>

  <div class="input-field col s8 m12">
    <%= text_field_tag :cidade, params[:cidade], placeholder:"Pesquisar cidade" %>

    <label for="cidade">Cidade:</label>
  </div>
  <div class="input-field col s6 m4">
    <i class="material-icons prefix">date_range</i>
    <%= text_field_tag :date, params[:date], class:"datepicker", placeholder:"Selecione uma data" %>
  </div>

  <div class="input-field col s6 m4">

    <select>
      <option value="" disabled selected>Selecione</option>
      <option value="1">Manhã</option>
      <option value="2">Tarde</option>

    </select>
    <label>Materialize Select</label>

  </div>

</div>

<button type="submit" class="btn blue lighten-2 waves-effect waves-lighten "> <i class="material-icons left">search</i>Buscar</button>

<% end %>
 
